In [1]:
import pandas as pd

df = pd.read_csv('pizza_sales_new.csv')

In [3]:
df.head()

,pizza_id,order_id,pizza_name_id,quantity,order_date,order_time,unit_price,total_price,pizza_size,pizza_category,pizza_ingredients,pizza_name
0,1,1,hawaiian_m,1,2015-01-01,11:38:36,13.25,13.25,M,Classic,"Sliced Ham, Pineapple, Mozzarella Cheese",The Hawaiian Pizza
1,2,2,classic_dlx_m,1,2015-01-01,11:57:40,16.00,16.00,M,Classic,"Pepperoni, Mushrooms, Red Onions, Red Peppers,...",The Classic Deluxe Pizza
2,3,2,five_cheese_l,1,2015-01-01,11:57:40,18.50,18.50,L,Veggie,"Mozzarella Cheese, Provolone Cheese, Smoked Go...",The Five Cheese Pizza
3,4,2,ital_supr_l,1,2015-01-01,11:57:40,20.75,20.75,L,Supreme,"Calabrese Salami, Capocollo, Tomatoes, Red Oni...",The Italian Supreme Pizza
4,5,2,mexicana_m,1,2015-01-01,11:57:40,16.00,16.00,M,Veggie,"Tomatoes, Red Peppers, Jalapeno Peppers, Red O...",The Mexicana Pizza

In [4]:
df['pizza_id'].value_counts()

pizza_id
48620    1
1        1
2        1
3        1
4        1
        ..
15       1
14       1
13       1
12       1
11       1
Name: count, Length: 48554, dtype: int64

In [5]:
df['pizza_name'].value_counts()

pizza_name
The Classic Deluxe Pizza                      2416
The Barbecue Chicken Pizza                    2368
The Hawaiian Pizza                            2365
The Pepperoni Pizza                           2364
The Thai Chicken Pizza                        2313
The California Chicken Pizza                  2299
The Spicy Italian Pizza                       1884
The Sicilian Pizza                            1884
The Southwest Chicken Pizza                   1883
The Italian Supreme Pizza                     1848
The Four Cheese Pizza                         1847
The Big Meat Pizza                            1810
The Vegetables + Vegetables Pizza             1510
The Mexicana Pizza                            1453
The Napolitana Pizza                          1447
The Spinach and Feta Pizza                    1430
The Prosciutto and Arugula Pizza              1426
The Pepper Salami Pizza                       1420
The Italian Capocollo Pizza                   1412
The Greek Pizza                               1404
The Five Cheese Pizza                         1354
The Pepperoni, Mushroom, and Peppers Pizza    1341
The Green Garden Pizza                         985
The Chicken Alfredo Pizza                      978
The Italian Vegetables Pizza                   974
The Chicken Pesto Pizza                        961
The Soppressata Pizza                          956
The Spinach Pesto Pizza                        954
The Spinach Supreme Pizza                      939
The Calabrese Pizza                            927
The Mediterranean Pizza                        923
The Brie Carre Pizza                           479
Name: count, dtype: int64