In [2]:
import pandas as pd

In [6]:
rang = pd.date_range(start='2024/10/01', end='2024/10/31',freq='B')
rang

DatetimeIndex(['2024-10-01', '2024-10-02', '2024-10-03', '2024-10-04',
               '2024-10-07', '2024-10-08', '2024-10-09', '2024-10-10',
               '2024-10-11', '2024-10-14', '2024-10-15', '2024-10-16',
               '2024-10-17', '2024-10-18', '2024-10-21', '2024-10-22',
               '2024-10-23', '2024-10-24', '2024-10-25', '2024-10-28',
               '2024-10-29', '2024-10-30', '2024-10-31'],
              dtype='datetime64[ns]', freq='B')

In [8]:
rag = pd.date_range(start='2024/01/01',periods=23,freq='w')
rag

C:\Users\New\AppData\Local\Temp\ipykernel_14764\864142981.py:1: FutureWarning: 'w' is deprecated and will be removed in a future version, please use 'W' instead.
  rag = pd.date_range(start='2024/01/01',periods=23,freq='w')

DatetimeIndex(['2024-01-07', '2024-01-14', '2024-01-21', '2024-01-28',
               '2024-02-04', '2024-02-11', '2024-02-18', '2024-02-25',
               '2024-03-03', '2024-03-10', '2024-03-17', '2024-03-24',
               '2024-03-31', '2024-04-07', '2024-04-14', '2024-04-21',
               '2024-04-28', '2024-05-05', '2024-05-12', '2024-05-19',
               '2024-05-26', '2024-06-02', '2024-06-09'],
              dtype='datetime64[ns]', freq='W-SUN')

In [9]:
import numpy as np
ts = pd.Series(np.random.randint(1,10,len(rag)),index=rag)
ts

2024-01-07    8
2024-01-14    9
2024-01-21    8
2024-01-28    1
2024-02-04    4
2024-02-11    3
2024-02-18    2
2024-02-25    5
2024-03-03    3
2024-03-10    8
2024-03-17    9
2024-03-24    4
2024-03-31    2
2024-04-07    4
2024-04-14    9
2024-04-21    9
2024-04-28    5
2024-05-05    8
2024-05-12    3
2024-05-19    8
2024-05-26    6
2024-06-02    1
2024-06-09    6
Freq: W-SUN, dtype: int32

In [2]:
df =pd.read_csv('sale_of_shampoo.csv')

In [3]:
df.head()

   Month  Sales of shampoo over a three year period
0  1-Jan                                      266.0
1  1-Feb                                      145.9
2  1-Mar                                      183.1
3  1-Apr                                      119.3
4  1-May                                      180.3

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 2 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Month                                      36 non-null     object
 1   Sales of shampoo over a three year period  36 non-null     float64
dtypes: float64(1), object(1)
memory usage: 708.0+ bytes

In [6]:
df['Month'] = pd.to_datetime(df['Month'], format="%d-%b")

In [1]:
df['Sales of shampoo over a three year period'].resample('M').sum()

NameError: name 'df' is not defined

In [8]:
from statsmodels.tsa.stattools import adfuller

def adf_test(series):
    result = adfuller(series)
    print(f'ADF Statistic: {result[0]}')
    print(f'p-value: {result[1]}')
    if result[1] <= 0.05:
        print("The serious is stationary")
    else:
        print("the series is not stationary")

adf_test(df['Sales of shampoo over a three year period'])

ADF Statistic: 3.0601420836411815
p-value: 1.0
the series is not stationary

In [ ]:
import matplotlib.pyplot as plt
df['Sales_diff'] = df['Sales of shampoo over a three year period'].diff().dropna()

# Recheck stationarity
adf_test(df['Sales_diff'])

# Visualize the differenced series
plt.figure(figsize=(10, 6))
plt.plot(df['Sales_diff'])
plt.title('Differenced Sales Over Time')
plt.show()